{% extends 'base.html' %} {% block content %} {% comment %} {% extends 'base.html' %} {% block title %} {{ image.name }} {% endblock title %} {% block content %}

<ul class="nav justify-content-center mb-5">
    <li class="ml-3">
        <a href="{% url 'photos:delete' image.user.username image.pk %}" class="btn btn-sm list-group-item list-group-item-primary">
                Delete Image
            </a>
    </li>
</ul>

<img src="{{ image.image.url }}" alt="{{ image.name }}" class="rounded-3 border-2 border-secondary mx-auto d-block img-thumbnail"> {% endblock content %} {% endcomment %}

<div class="mx-auto">
    <h1 class="text-center">{{ image.name }}</h1>
    <p class="text-center fw-light">Uploaded on: {{image.upload_date}} <br> By {{image.user}}</p>
    {% if user == image.user %}
    <p class="text-center">
        <span><a href="{% url 'photos:update' image.user.username image.pk  %}" class="text-primary px-2">Update</a></span>
        <span><a href="{% url 'photos:delete' image.user.username image.pk %}" class="text-danger px-2">Delete</a></span>
    </p>
    {% endif %}
</div>
<div class="row pb-5">
    <div class="col-md-8">
        <img src="{{image.image.url}}" alt="" width="100%" />
    </div>
    <div class="col-md-4">
        <h4>More about this photo:</h4>
        {% comment %}
        <ul class="list-group list-group-horizontal-lg list-unstyled py-4">
            {% for tag in photo.tags.all %}
            <li><a href="{% url 'photo:tag' tag.slug %}" class="btn btn-sm list-group-item list-group-item-primary">{{tag.name}}</a></li>
            {% endfor %}
        </ul>
        {% endcomment %}
        <p>{{ photo.description }}</p>
    </div>
</div>

{% endblock content %}